<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据展示</title>
</head>
<body>


    <h3>欢迎查看多数据展示</h3>
    <hr>
    <div>
        <div class="form-group" style="float: left;margin: 10% 10% 10% 10% ">
            <div class="col-sm-2 control-label">
                <a href="/getStudentList" class="btn btn-info">第一数据源：查看学生信息</a>
            </div>
        </div>

        <div class="form-group" style="float: left;margin: 10% 10% 10% 10% ">
            <div class="col-sm-2 control-label">
                <a href="/getDictList" class="btn btn-info" >第二数据源：查看字典信息</a>
            </div>
        </div>
        <table></table>
    </div>




</body>
</html>